@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --color-bg: #1f1f1f;
  --color-bg-alt: #0f0f0f;
  --color-card: #181818;

  --color-accent: #e8ff9b;
  --color-accent-hover: #d4f66f;
  --color-accent-muted: #b7d45c;

  --color-text: #ffffff;
  --color-subtext: #a1a1a1;

  --color-border: #2a2a2a;
  --color-shadow: rgba(232, 255, 155, 0.1);
}

* {
  font-family: "Inter";
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-bg-alt);
}
::-webkit-scrollbar-thumb {
  background: var(--color-accent-muted);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent-hover);
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

h1, h2, h3 {
  color: var(--color-text);
}

a {
  transition: all 0.3s ease;
  color: var(--color-accent);
}
a:hover {
  color: var(--color-accent-hover);
}

.text-accent {
  color: var(--color-accent);
}
.bg-accent {
  background-color: var(--color-accent);
}
.border-accent {
  border-color: var(--color-accent);
}
.hover-accent:hover {
  color: var(--color-accent-hover);
}

.card {
  background: var(--color-card);
  border: 1px solid var(--color-border);
  box-shadow: 0 0 10px var(--color-shadow);
}
